/* name   : meta-press.css
 * author : Simon Descarpentries
 * date   : 2017-06
 * licence: GPLv3
 */

/*
 * Globals
 */

/* latin & latin-ext */
/* @font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(font/AmaticSC-Regular.ttf) format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
} */
/* latin & latin-ext */
@font-face {
  font-family: 'Amatic SC';
  font-style: bold;
  font-weight: 400;
  src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(../font/AmaticSC-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

body {
	background: white; }
a { color: #00b0a0 !important;
	text-decoration: none !important; }
a:hover {
	color: #ff8800 !important; }
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 0;
	font-family:'Amatic SC', cursive;
	/* , "Helvetica Neue", Helvetica, Arial, sans-serif; */
	/* font-weight: normal; */
	color: #333; }
p, ul {margin-top:0;}
.bold {
	font-weight: bold;
}
/* .hide { --> use directly .style.display = 'none';
	display:none;
} */

/**	Override Bootstrap's default container. **/
/* @media (min-width: 1200px) { .container { width: 970px; } } */

/**	Masthead for nav */
.blog-masthead {
	background-color: #00D0C0;
	-webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
	box-shadow: inset 0 -2px 5px rgba(0,0,0,.1); }

/**	Nav links * */
.blog-nav-item {
	position: relative;
	display: inline-block;
	padding: 10px;
	font-weight: 500;
	color: #cdddeb!important; }
.blog-nav-item:hover,
.blog-nav-item:focus {
	color: #fff!important;
	text-decoration: none; }

/**	Active state gets a caret at the bottom **/
.blog-nav .active {
	color: #fff!important; }
.blog-nav .active:after {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -5px;
	vertical-align: middle;
	content: " ";
	border-right: 5px solid transparent;
	border-bottom: 5px solid;
	border-left: 5px solid transparent; }

/**	Blog name and description **/
#meta_press_logo {
	background: url(../img/logo-metapress-256px-sq.png);
	display: block;
	float:left;
	width:256px;
	height:256px;
	margin-right:2em;
}
#headlines {
	margin-left:12em;
	min-height:256px;
}
#headlines .pagination {
	margin-left:16%;
	clear:both;
}
.blog-title {
	margin-bottom: -0.4ex;
	font-size: 108px;
	font-weight: bold;
	padding-left:60px;
}
.blog-description {
	font-size: 41.5px;
	color: #999;
	padding-left:60px;
	font-family:'Amatic SC', cursive;
	margin-bottom:0.25ex;
}
#headlines ul {
	float:left;
	width:66%;
	padding:0;
}
/**	Main column and sidebar layout **/
.blog-main {
	font-size: 18px;
	line-height: 1.5; }

/* Sidebar modules for boxing content */
.sidebar-module {
	padding: 15px;
	/*margin: 0 -15px 15px;*/
}
.sidebar-module-inset {
	padding: 15px;
	background-color: #f0f0f0;
	border-radius: 4px; }
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
	margin-bottom: 0; }

/* Pagination */
.pager {
	margin-bottom: 60px;
	text-align: left; }
.pager > li > a {
	width: 140px;
	padding: 10px 20px;
	text-align: center;
	border-radius: 30px; }
.pagination .active a,
.pagination .active a:hover {
	color: #FFF !important;
	background-color: #00b0a0;
	border-color: #00b0a0;
}

/**	Blog posts **/
.blog-post {
	margin-bottom: 60px; }
.blog-post-title {
	margin-bottom: 5px;
	font-size: 40px; }
.blog-post-meta {
	margin-bottom: 20px;
	color: #999; }

/**	Footer **/
.blog-footer {
	padding: 40px 0;
	color: #999;
	text-align: center;
	background-color: #F0F0F0;
	border-top: 1px solid #D6D6D6; }
.blog-footer p:last-child {
	margin-bottom: 0; }

/** Findings	**/
#mp_query, #mp_submit {
	font-size:20px;
	margin:1em 0;
}
#mp_query {
	width:48ex;
	padding: 10px;
	border-radius: 4px 0 0 4px;
	background-color: #F0F0F0;
	border: none;
	height: 5ex;
	/*margin-left:19ex;*/
}
#mp_submit {
	background-color: #00D0C0;
	border: none;
	border-radius: 0 4px 4px 0;
	width:8ex;
	height: 5ex;
	color: #fff;
	margin-left:-0.5ex
}
#mp_submit:hover {
	background-color: #ffc733;
}
#mp_filter, #mp_clear_filter {
	margin-bottom:1.25ex;
	padding:1ex;
	background-color: #F0F0F0;
	border: none;
}
#mp_clear_filter {
	border-radius: 0 4px 4px 0;
	margin-left:-0.5ex;
	color:#999;
}
#mp_clear_filter:hover {
	color:red;
}
#mp_filter {
	border-radius: 4px 0 0 4px;
	width:85%;
}
.list, .pagination {
	list-style-type:none; }
.pagination {
	text-align: center; }
.pagination li {
	display:inline-block;
	margin-right: 1ex; }
.f_txt {
	margin-left:30px;
	text-align:justify; }
.f_url {
	display:block;
	margin-left:30px;
	margin-top:-24px;
	font-weight: bold; }
.f_selection { display:none;
	/* Double-sized Checkboxes */
	-ms-transform: scale(1.8); /* IE */
	-moz-transform: scale(1.8); /* FF */
	-webkit-transform: scale(1.8); /* Safari and Chrome */
	-o-transform: scale(1.8); /* Opera */
	margin-right:1ex;
}
.f_url.f_sel { margin-left:50px; }
.mp_export_choices { display:none; }
.f_metadata {
	font-size:12px;
	color: rgb(153, 153, 153);
	margin-left:30px;
	margin-top:-0.5ex; }
.mf_nb {
	float:right;
	color:#000;
}
#mf_date_filters {
	list-style:none;
}
#mf_date_filters li {
	padding: 0 1ex;
}
#mf_date_filters li:hover {
	background-color: #F0F0F0 !important;
}
#meta-findings ul {
	padding:0;
}
#meta-findings li {
	margin:0.1ex;
}
.npp_name_overflow,
.mf_dt_overflow,
.header-inner {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.npp_name_overflow {
	width: 64%;
	float:left;
}
.mf_dt_overflow {
	text-overflow: '';
	width:54%;
	direction:rtl;
	text-align:right;
}
.header-inner {
	width:100%;
}
.mf_dt_lbl {
	float:left;
	width:46%;
}
#mp_export_results {
	float:right;
	margin-top:1.25ex;
	margin-bottom:1.25ex;
	padding:1ex;
}
